{% extends 'authentication/base.html' %}
{% load static %}
{% block footer %}
{% endblock footer %}
{% block forgotpass %}
   <!-- navbar start here -->
   <!-- <nav class="nav_menu navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="javascript:;">
        <img src="assets/images/logo.png" class="img-fluid logo" alt="Cryptolinkx">
      </a>

    </div>
  </nav> -->
  <!-- navbar close here -->

  <!-- forgot password form start here -->


  <!-- forgot password form end here -->
  {% endblock forgotpass %}