{% extends 'authentication/base.html' %}
{% block confirm %}
<h2 class="text-center text-info mt-5">Reset Password</h2>
<h3 class="text-center text-success">Enter your new password</h3>
<div class="row align-items-center ">
  <div class="col-sm-12 d-flex text-center mt-5 text-info justify-content-center">
    <form class="form text-left" action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="icon-lock4"></i> Change Password</button>
    </form>
  </div>
</div>
{% endblock confirm %}