{% extends 'authentication/base.html' %}
{% load static %}
{% block resetform %}
<section class="forgotPassForm_section">
    <div class="container forgotPassForm_container_style">
        <a class="pt-0 signuplogo_aTag_style" href="javascript:;">
            <img src="{% static 'authentication/assets/images/logo.png' %}" class="img-fluid logo signup_logo_style" alt="Cryptolinkx">
        </a>
        <div class="forgotPassForm_div_style">
            <h3>Reset Password</h3>
            <hr />
            <form method="post">
                {% csrf_token %}

                <p><label for="id_email">Email</label><br>
                <input type="email" id="id_email" name="email" placeholder="Enter UserName"
                    class="forgotPass_input_style" autocomplete="email" maxlength="254" required=""></p><br>

                <!-- <hr /> -->
                <button type="submit" class="btn btn-primary forgotPass_btn_style w-100 mt-3">Send Verification
                    Email</button>
            </form>
            <hr />

            <!-- <div class="login_linkBtn_style">            -->
            <a type="button" class="login_link_style" href="{% url 'login' %}">Login</a>
            <!-- </div> -->


        </div>
    </div>

</section>

{% endblock resetform %}

{% block footer %}
{% endblock footer %}