{% extends 'authentication/base.html' %}
{% load static %}

{% block index %}


  <!-- banner section start here -->
  <section class="banner_section">
    <div class="banner_img_box">
      <img src="{% static 'authentication/assets/images/banner.jpg' %}" class="banner_img">
    </div>
    <div class="banner_txt">
      <h4 class="heading_font">Cryptolinkx is the Most Widely Known and Used Global Cryptocurrency &
        Bitcoin Exchange</h4>
      <p>Now trade, invest, and mine Bitcoin, Cardano, Ethereum, Litecoin, Ripple and other
        digital currencies across the globe. Your <b>digital currency trading</b> starts now!</p>
      <div class="banner_btn">
        <a href="javascript:;" class="andr_app app_btn">
          <i class="fab fa-google-play font_icon"></i> Download Now
        </a>
        <a href="javascript:;" class="ios_app app_btn position-relative">
          <i class="fab fa-apple font_icon"></i> Download Now
        </a>
      </div>
    </div>
  </section>
  <!-- banner section close here -->

  <!-- intro section start here -->
  <section class="intro_section">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-8 col-12">
          <div class="intro_text">
            <div class="page_heading">
              <h2 class="heading_font">Presentingbest digital currency exchange Cryptolinkx</h2>
            </div>
            <h5>CRX is a cryptocurrency created by Cryptolinkx; it’s comparable to Bitcoin and all other
              popular cryptocurrencies. A maximum of one billion CRX coins will be created for you to
              trade and invest in by us.
            </h5>
            <p>For your convenience the Cryptolinkxecosystem is supported by CRX, a utility token.
              CRX tokens are launched to encourage the global community in aidingthe process of
              developingCryptolinkx even further. Inreturn rewards are given out for such aid
              and contributions. This is all in line with the true essence of cryptocurrency and
              blockchain - to give back rewards to the global patrons who are supporting CRX from
              the beginning.
            </p>
            <ul class="list-inline intro_links">
              <li class="list-inline-item">
                <a href="javascript:;">Read Our Whitepaper</a>
              </li>
              <li class="list-inline-item ml-auto">
                <a href="javascript:;">View</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-4 col-12">
          <div class="crypto_inro_img">
            <img src="{% static 'authentication/assets/images/crypto_intro.png' %}" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- intro section start here -->

  
  <!-- FEATURED section start here -->
  <section class="featured_section">
    <div class="page_heading">
      <h2 class="heading_font">Featured In</h2>
    </div>
    <div class="owl-carousel owl-theme">
      <div class="item">
        <div class="feat_box">
          <img src="{% static 'authentication/assets/images/featured1.png' %}" class="img-fluid" alt="">
        </div>
      </div>
      <div class="item">
        <div class="feat_box">
          <img src="{% static 'authentication/assets/images/featured1.png' %}" class="img-fluid" alt="">
        </div>
      </div>
      <div class="item">
        <div class="feat_box">
          <img src="{% static 'authentication/assets/images/featured1.png' %}" class="img-fluid" alt="">
        </div>
      </div>
      <div class="item">
        <div class="feat_box">
          <img src="{% static 'authentication/assets/images/featured1.png' %}" class="img-fluid" alt="">
        </div>
      </div>
      <div class="item">
        <div class="feat_box">
          <img src="{% static 'authentication/assets/images/featured1.png' %}" class="img-fluid" alt="">
        </div>
      </div>
      <div class="item">
        <div class="feat_box">
          <img src="{% static 'authentication/assets/images/featured1.png' %}" class="img-fluid" alt="">
        </div>
      </div>
      <div class="item">
        <div class="feat_box">
          <img src="{% static 'authentication/assets/images/featured1.png' %}" class="img-fluid" alt="">
        </div>
      </div>
      <div class="item">
        <div class="feat_box">
          <img src="{% static 'authentication/assets/images/featured1.png' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </section>
  <!-- FEATURED section close here -->


  <!-- crypto_service section start here -->
  <section class="service_section">
    <div class="container">
      <div class="service_box">
        <div class="page_heading">
          <h2 class="heading_font">Cryptolinkx Services</h2>
        </div>
        <div class="crypto_serv crypto_serv1">
          <div class="row">
            <div class="col-ld-6 com-md-6 col-sm-6 col-12">
              <div class="serv_img">
                <img src="{% static 'authentication/assets/images/crypto_security.png' %}" class="img-fluid">

              </div>
            </div>
            <div class="col-ld-6 com-md-6 col-sm-6 col-12">
              <div class="serv_text">
                <h3>STELLAR MULTI-LAYERED SECURITY</h3>
                <p>We have taken every possible step to guarantee a well-integrated security system
                  for makingCryptolinkx world’s <b>most trusted digital currency exchange.</b> Comprehensive
                  and regular security checks make us a highly secured <b>digital currency trading</b>
                  platform for users across the globe.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="crypto_serv crypto_serv2">
          <div class="row">
            <div class="col-ld-6 com-md-6 col-sm-6 col-12">
              <div class="serv_text">
                <h3>ROBUST KYC CHECK</h3>
                <p>Our state of the art KYC check includes an identity and verification system. These top notchsystems
                  rapidly process your application within just a few hours of signing up. As the <b>Best digital
                    currency
                    exchange</b> we’re constantly trying to cut down the total verification time for effective and
                  smooth
                  functioning.</p>
              </div>
            </div>
            <div class="col-ld-6 com-md-6 col-sm-6 col-12">
              <div class="serv_img">
                <img src="{% static 'authentication/assets/images/kyc.png' %}" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
        <div class="crypto_serv crypto_serv1">
          <div class="row">
            <div class="col-ld-6 com-md-6 col-sm-6 col-12">
              <div class="serv_img">
                <img src="{% static 'authentication/assets/images/boost.png' %}" class="img-fluid">
              </div>
            </div>
            <div class="col-ld-6 com-md-6 col-sm-6 col-12">
              <div class="serv_text">
                <h3>PROMPT TRANSACTIONS</h3>
                <p>Cryptolinkx is a <b>digital currency exchange platform</b> that can process MILLIONS of transactions
                  simultaneously. Our advanced system infrastructure is fully equipped to handle the surging demand of
                  cryptocurrency transactions.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="crypto_serv crypto_serv2">
          <div class="row">
            <div class="col-ld-6 com-md-6 col-sm-6 col-12">
              <div class="serv_text">
                <h3>TAPPING MULTIPLE PLATFORMS</h3>
                <p>We guarantee an uninterrupted and secure trading experience across several platforms. Your
                  <b>cryptocurrency future</b> is bright as you can avail our services- on all web, Android, iOS,
                  Windows, and
                  even Mac apps.
                </p>
              </div>
            </div>
            <div class="col-ld-6 com-md-6 col-sm-6 col-12">
              <div class="serv_img">
                <img src="{% static 'authentication/assets/images/platform.png' %}" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
        <div class="crypto_serv crypto_serv1">
          <div class="row">
            <div class="col-ld-6 com-md-6 col-sm-6 col-12">
              <div class="serv_img">
                <img src="{% static 'authentication/assets/images/effcient.png' %}" class="img-fluid">
              </div>
            </div>
            <div class="col-ld-6 com-md-6 col-sm-6 col-12">
              <div class="serv_text">
                <h3>USER-FRIENDLY & PROFOCIENT DESIGN</h3>
                <p>Exchanging on the Cryptolinkx platform is a smooth sailing experience that you’ll instantly fall head
                  over heels for! We’ve build and distribute technology used by Millions internationally, and with these
                  experiences we are building an even powerful <b>digital currency exchange platform.</b></p>
              </div>
            </div>
          </div>
        </div>
        <div class="crypto_serv crypto_serv2">
          <div class="row">
            <div class="col-ld-6 com-md-6 col-sm-6 col-12">
              <div class="serv_text">
                <h3>PUT TOGETHER BY BLOCKCHAIN BELIEVERS</h3>
                <p>We’re a dedicated team of enthusiastic blockchain believers and professional traders. We are masters
                  at understanding your needs. Comprehensive stats, graphs, a <b>cryptocurrency app</b> etc. are all
                  powerful
                  features being developed into the Cryptolinkx systemeach day.</p>
              </div>
            </div>
            <div class="col-ld-6 com-md-6 col-sm-6 col-12">
              <div class="serv_img">
                <img src="{% static 'authentication/assets/images/block_chain.png' %}" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- crypto_service section close here -->

  <!-- team member section start here -->
  <section class="team_section">
    <div class="container">
      <div class="all_team_box">
        <div class="page_heading">
          <h2 class="heading_font">Our Team</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="team_member">
              <div class="team_img">
                <img src="{% static 'authentication/assets/images/user1.png' %}" class="img-fluid">
              </div>
              <div class="team_txt">
                <h3>Ayushi Gupta</h3>
                <p>She is working as senior web and graphic designer in Infograins Software
                  Solutions Pvt. Ltd. Her profile orientation has a calibrated blend of astute leadership and
                  entrepreneurial qualities enabling Her right fit to the role.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="team_member">
              <div class="team_img">
                <img src="{% static 'authentication/assets/images/user2.jpg' %}" class="img-fluid">
              </div>
              <div class="team_txt">
                <h3>Rahul Jain</h3>
                <p>He is working as senior web and graphic designer in Infograins Software
                  Solutions Pvt. Ltd. Her profile orientation has a calibrated blend of astute leadership and
                  entrepreneurial qualities enabling His right fit to the role.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="team_member">
              <div class="team_img">
                <img src="{% static 'authentication/assets/images/user3.png' %}" class="img-fluid">
              </div>
              <div class="team_txt">
                <h3>Apeksha Mazumdar</h3>
                <p>She is working as senior developer in Infograins Software
                  Solutions Pvt. Ltd. Her profile orientation has a calibrated blend of astute leadership and
                  entrepreneurial qualities enabling Her right fit to the role.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="team_member">
              <div class="team_img">
                <img src="{% static 'authentication/assets/images/user2.jpg' %}" class="img-fluid">
              </div>
              <div class="team_txt">
                <h3>Ayushi Gupta</h3>
                <p>She is working as senior web and graphic designer in Infograins Software
                  Solutions Pvt. Ltd. Her profile orientation has a calibrated blend of astute leadership and
                  entrepreneurial qualities enabling Her right fit to the role.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- team member section close here -->

  <!-- Crypto detail section start here -->
  <div class="crypto_detail_section">
    <div class="container">
      <div class="crypto_dtl_box">
        <div class="page_heading">
          <h2 class="heading_font">Cryptolinkx welcomes you all</h2>
        </div>
        <p>We’re bringing you up-to-date with the rapid digital revolution going on in the world. Anyone who wants to
          become a part of this cryptocurrency revolution can join our exchange today.</p>
        <p>Investing or trading in cryptocurrencies is intimidating for anyone. But fortunately for you with Cryptolinkx
          you can easily invest and safely trade in various<b>cryptocurrency types</b> without any hassle. Cryptolinkx offers
          simplicity and ease of use to all first time investors and professional traders for a great trading
          experience.
        </p>
      </div>
    </div>
  </div>
  <!-- Crypto detail section close here -->
  
{% endblock index %}