{% extends 'authentication/base.html' %}
{% load static %}

{% block index %}


  <!-- banner section start here -->
  <section class="banner_section">
    <div class="banner_img_box">
      <img src="{% static 'authentication/assets/images/banner.jpg' %}" class="banner_img">
    </div>
    <div class="banner_txt">
      <h4 class="heading_font">CryptolinkX is India's <br> Most Trusted Bitcoin & <br> Cryptocurrency Exchange</h4>
      <div class="banner_btn">
        <a href="javascript:;" class="andr_app app_btn">
          <i class="fab fa-google-play font_icon"></i> Download Now
        </a>
        <a href="javascript:;" class="ios_app app_btn position-relative">
          <i class="fab fa-apple font_icon"></i> Download Now
        </a>
      </div>
    </div>
  </section>
  <!-- banner section close here -->

  <!-- intro section start here -->
  <section class="intro_section">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-8 col-12">
          <div class="intro_text">
            <div class="page_heading">
              <h2 class="heading_font">Introducing CryptolinkX!</h2>
            </div>
            <h5>Just like Bitcoin and other cryptocurrencies today, CryptolinkX is a token created by CryptolinkX. There will be
              a
              maximum of 1 Billion CryptolinkX coins ever created.</h5>
            <p>CryptolinkX, a utility token backed by CryptolinkX, forms the backbone of CryptolinkX ecosystem. We launched CryptolinkX
              tokens to
              involve our community in helping us build out CryptolinkX, and reward them accordingly for contributing to
              our
              success. This helps us stay true to the ethos of cryptocurrency and blockchain - to share the rewards of
              CryptolinkX's success with our early adopters and supporters.</p>
            <ul class="list-inline intro_links">
              <li class="list-inline-item">
                <a href="javascript:;">Read Our Whitepaper</a>
              </li>
              <li class="list-inline-item ml-auto">
                <a href="javascript:;">View</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-4 col-12">
          <div class="crypto_inro_img">
            <img src="{% static 'authentication/assets/images/crypto_intro.png' %}" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- intro section start here -->

  <!-- FEATURED section start here -->
  <section class="featured_section">
    <div class="page_heading">
      <h2 class="heading_font">Featured In</h2>
    </div>
    <div class="owl-carousel owl-theme">
      <div class="item">
        <div class="feat_box">
          <img src="{% static 'authentication/assets/images/featured1.png' %}" class="img-fluid" alt="">
        </div>
      </div>
      <div class="item">
        <div class="feat_box">
          <img src="{% static 'authentication/assets/images/featured1.png' %}" class="img-fluid" alt="">
        </div>
      </div>
      <div class="item">
        <div class="feat_box">
          <img src="{% static 'authentication/assets/images/featured1.png' %}" class="img-fluid" alt="">
        </div>
      </div>
      <div class="item">
        <div class="feat_box">
          <img src="{% static 'authentication/assets/images/featured1.png' %}" class="img-fluid" alt="">
        </div>
      </div>
      <div class="item">
        <div class="feat_box">
          <img src="{% static 'authentication/assets/images/featured1.png' %}" class="img-fluid" alt="">
        </div>
      </div>
      <div class="item">
        <div class="feat_box">
          <img src="{% static 'authentication/assets/images/featured1.png' %}" class="img-fluid" alt="">
        </div>
      </div>
      <div class="item">
        <div class="feat_box">
          <img src="{% static 'authentication/assets/images/featured1.png' %}" class="img-fluid" alt="">
        </div>
      </div>
      <div class="item">
        <div class="feat_box">
          <img src="{% static 'authentication/assets/images/featured1.png' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </section>
  <!-- FEATURED section close here -->

  <!-- crypto_service section start here -->
  <section class="service_section">
    <div class="container">
      <div class="service_box">
        <div class="page_heading">
          <h2 class="heading_font">Cryptolinkx Services</h2>
        </div>
        <div class="crypto_serv crypto_serv1">
          <div class="row">
            <div class="col-ld-6 com-md-6 col-sm-6 col-12">
              <div class="serv_img">
                <img src="{% static 'authentication/assets/images/crypto_security.png' %}" class="img-fluid">
              </div>
            </div>
            <div class="col-ld-6 com-md-6 col-sm-6 col-12">
              <div class="serv_text">
                <h3>Best in class security</h3>
                <p>We’ve left no stone unturned to make CryptolinkX India’s most secure exchange. We’re investing in
                  regular
                  security audits to ensure a highly secured trading platform for India.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="crypto_serv crypto_serv2">
          <div class="row">
            <div class="col-ld-6 com-md-6 col-sm-6 col-12">
              <div class="serv_text">
                <h3>Super Fast KYC</h3>
                <p>Top of the line identity verification systems process your KYC within a few hours of signing up,
                  while ensuring the right KYC protocol. We’re building in robustness to sharply reduce verification
                  times.</p>
              </div>
            </div>
            <div class="col-ld-6 com-md-6 col-sm-6 col-12">
              <div class="serv_img">
                <img src="{% static 'authentication/assets/images/kyc.png' %}" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
        <div class="crypto_serv crypto_serv1">
          <div class="row">
            <div class="col-ld-6 com-md-6 col-sm-6 col-12">
              <div class="serv_img">
                <img src="{% static 'authentication/assets/images/boost.png' %}" class="img-fluid">
              </div>
            </div>
            <div class="col-ld-6 com-md-6 col-sm-6 col-12">
              <div class="serv_text">
                <h3>Lightning Speed Transactions</h3>
                <p>CryptolinkX can handle Millions of transactions. Our system infrastructure can scale up in a few
                  seconds
                  to match surging demand.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="crypto_serv crypto_serv2">
          <div class="row">
            <div class="col-ld-6 com-md-6 col-sm-6 col-12">
              <div class="serv_text">
                <h3>Across 5 Platforms</h3>
                <p>CryptolinkX offers a seamless and powerful trading experience across all platforms - on Web, Android
                  & iOS
                  mobile, Windows, and Mac apps.</p>
              </div>
            </div>
            <div class="col-ld-6 com-md-6 col-sm-6 col-12">
              <div class="serv_img">
                <img src="{% static 'authentication/assets/images/platform.png' %}" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
        <div class="crypto_serv crypto_serv1">
          <div class="row">
            <div class="col-ld-6 com-md-6 col-sm-6 col-12">
              <div class="serv_img">
                <img src="{% static 'authentication/assets/images/effcient.png' %}" class="img-fluid">
              </div>
            </div>
            <div class="col-ld-6 com-md-6 col-sm-6 col-12">
              <div class="serv_text">
                <h3>Simple & Efficient Design</h3>
                <p>Trading on the CryptolinkX platform is a super fast experience you’ll fall in love with! We’ve built
                  technology used by Millions, and that experience has helped us build this powerful exchange.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="crypto_serv crypto_serv2">
          <div class="row">
            <div class="col-ld-6 com-md-6 col-sm-6 col-12">
              <div class="serv_text">
                <h3>Built By Blockchain Believers</h3>
                <p>We’re a team of hardcore traders & passionate blockchain believers. We understand exactly what you
                  need. Powerful graphs, mobile apps, etc are features being built into CryptolinkX from day 1.</p>
              </div>
            </div>
            <div class="col-ld-6 com-md-6 col-sm-6 col-12">
              <div class="serv_img">
                <img src="{% static 'authentication/assets/images/block_chain.png' %}" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- crypto_service section close here -->

  <!-- team member section start here -->
  <section class="team_section">
    <div class="container">
      <div class="all_team_box">
        <div class="page_heading">
          <h2 class="heading_font">Our Team</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="team_member">
              <div class="team_img">
                <img src="{% static 'authentication/assets/images/user1.png' %}" class="img-fluid">
              </div>
              <div class="team_txt">
                <h3>Ayushi Gupta</h3>
                <p>She is working as senior web and graphic designer in Infograins Software
                  Solutions Pvt. Ltd. Her profile orientation has a calibrated blend of astute leadership and
                  entrepreneurial qualities enabling Her right fit to the role.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="team_member">
              <div class="team_img">
                <img src="{% static 'authentication/assets/images/user2.jpg' %}" class="img-fluid">
              </div>
              <div class="team_txt">
                <h3>Rahul Jain</h3>
                <p>He is working as senior web and graphic designer in Infograins Software
                  Solutions Pvt. Ltd. Her profile orientation has a calibrated blend of astute leadership and
                  entrepreneurial qualities enabling His right fit to the role.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="team_member">
              <div class="team_img">
                <img src="{% static 'authentication/assets/images/user3.png' %}" class="img-fluid">
              </div>
              <div class="team_txt">
                <h3>Apeksha Mazumdar</h3>
                <p>She is working as senior developer in Infograins Software
                  Solutions Pvt. Ltd. Her profile orientation has a calibrated blend of astute leadership and
                  entrepreneurial qualities enabling Her right fit to the role.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="team_member">
              <div class="team_img">
                <img src="{% static 'authentication/assets/images/user2.jpg' %}" class="img-fluid">
              </div>
              <div class="team_txt">
                <h3>Mohit Rathore</h3>
                <p>He is working as full stack python developer in Infograins Software
                  Solutions Pvt. Ltd. His profile orientation has a calibrated blend of astute leadership and
                  entrepreneurial qualities enabling his right fit to the role.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- team member section close here -->

  <!-- Crypto detail section start here -->
  <div class="crypto_detail_section">
    <div class="container">
      <div class="crypto_dtl_box">
        <div class="page_heading">
          <h2 class="heading_font">CryptolinkX is for everyone</h2>
        </div>
        <p>We’re building an exchange that will bring anyone who believes in crypto to join the digital cryptocurrency
          revolution. The world is moving on to this revolution at an unprecedented pace.</p>
        <p>Now is your time. With CryptolinkX you can buy, sell & trade digital currencies with amazing ease, confidence
          and
          trust. Whether you’re a first time investor or a professional trader - CryptolinkX has got you both covered!
        </p>
      </div>
    </div>
  </div>
  <!-- Crypto detail section close here -->

  <!-- footer section start here -->
  <footer>
    <div class="container">
      <div class="footer_box">
        <dv class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="foot_box">
              <h5>About</h5>
              <ul class="list-unstyled">
                <li>
                  <a href="javascript:;">CryptolinkX Token</a>
                </li>
                <li>
                  <a href="javascript:;">Blog</a>
                </li>
                <li>
                  <a href="javascript:;">Careers</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="foot_box">
              <h5>Support</h5>
              <ul class="list-unstyled">
                <li>
                  <a href="javascript:;">Help Center</a>
                </li>
                <li>
                  <a href="javascript:;">Corporate Account</a>
                </li>
                <li>
                  <a href="javascript:;">Security</a>
                </li>
                <li>
                  <a href="javascript:;">Partnerships & Enquiries</a>
                </li>
                <li>
                  <a href="javascript:;">Trading, Deposit & Withdrawal Fees</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="foot_box">
              <h5>Legal</h5>
              <ul class="list-unstyled">
                <li>
                  <a href="javascript:;">Terms of use</a>
                </li>
                <li>
                  <a href="javascript:;">Privacy Policy</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="foot_box">
              <h5>Socials</h5>
              <ul class="list-unstyled">
                <li>
                  <a href="javascript:;">
                    <i class="fab fa-telegram-plane font_icon"></i>
                    Telegram
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <i class="fab fa-linkedin-in font_icon"></i>
                    Linkedin
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <i class="fab fa-twitter font_icon"></i>
                    Twitter
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <i class="fab fa-youtube font_icon"></i>
                    Youtube
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </dv>
      </div>
    </div>
  </footer>
  <!-- footer section close here -->

  {% endblock index %}