{% extends 'authentication/base.html' %}
{% load static %}
{% block p2p_login %}

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-12 my-4">
                <div class="p2p_order_book_div">
                    <div class="p2p_order_book_div_head">
                        <div class="p2p_order_book_txt">ORDER BOOK</div>
                        <div class="p2p_order_book_div_nav">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link custom_navlink active" id="marketDept-tab" data-toggle="tab"
                                        href="#marketDept" role="tab" aria-controls="marketDept"
                                        aria-selected="true">MARKET
                                        DEPTH</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link custom_navlink" id="orderVolume-tab" data-toggle="tab"
                                        href="#orderVolume" role="tab" aria-controls="orderVolume"
                                        aria-selected="false">ORDER
                                        VOLUME</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="p2p_order_book_div_body">
                        <div class="p2p_order_book_div_body_head">
                            <div>VOLUME</div>
                            <div>BUY PRICE</div>
                            <div>SELL PRICE</div>
                            <div>VOLUME</div>
                        </div>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active " id="marketDept" role="tabpanel"
                                aria-labelledby="marketDept-tab">
                                <div class="market_depth_bdydiv">
                                    <div class="p2p_order_book_div_body_buypart" >
                                        <!-- <tbody id="trade-history"> -->
  
                                            <!-- <tr>
                                              <td>43,84,980</td>
                                              <td>43,84,980</td>
                                              <td>0.0025</td>
                                            </tr> -->
                                        <!-- </tbody> -->
                                        <ul id="bids">
                                            <li class="buypart_li">
                                                <div>516.00</div>
                                                <div>70.00</div>
                                            </li>
                                            <li class="buypart_li">
                                                <div>516.00</div>
                                                <div>70.00</div>
                                            </li>
                                            <li class="buypart_li">
                                                <div>516.00</div>
                                                <div>70.00</div>
                                            </li>
                                            <li class="buypart_li">
                                                <div>516.00</div>
                                                <div>70.00</div>
                                            </li>
                                            <li class="buypart_li">
                                                <div>516.00</div>
                                                <div>70.00</div>
                                            </li>
                                            <li class="buypart_li">
                                                <div>516.00</div>
                                                <div>70.00</div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="p2p_order_book_div_body_sellpart">
                                        <ul id="bids2">
                                            <li class="sellpart_li">
                                                <div>204.00</div>
                                                <div>32</div>
                                            </li>
                                            <li class="sellpart_li">
                                                <div>204.00</div>
                                                <div>32</div>
                                            </li>
                                            <li class="sellpart_li">
                                                <div>204.00</div>
                                                <div>32</div>
                                            </li>
                                            <li class="sellpart_li">
                                                <div>204.00</div>
                                                <div>32</div>
                                            </li>
                                            <li class="sellpart_li">
                                                <div>204.00</div>
                                                <div>32</div>
                                            </li>
                                            <li class="sellpart_li">
                                                <div>204.00</div>
                                                <div>32</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade " id="orderVolume" role="tabpanel"
                                aria-labelledby="orderVolume-tab">
                                <div class="market_depth_bdydiv">
                                    <div class="p2p_order_book_div_body_buypart">
                                        <ul>
                                            <li class="buypart_li">
                                                <div>516.00</div>
                                                <div>70.00</div>
                                            </li>
                                            <li class="buypart_li">
                                                <div>516.00</div>
                                                <div>70.00</div>
                                            </li>
                                            <li class="buypart_li">
                                                <div>516.00</div>
                                                <div>70.00</div>
                                            </li>
                                            <li class="buypart_li">
                                                <div>516.00</div>
                                                <div>70.00</div>
                                            </li>
                                            <li class="buypart_li">
                                                <div>516.00</div>
                                                <div>70.00</div>
                                            </li>
                                            <li class="buypart_li">
                                                <div>516.00</div>
                                                <div>70.00</div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="p2p_order_book_div_body_sellpart">
                                        <ul>
                                            <li class="sellpart_li">
                                                <div>204.00</div>
                                                <div>32</div>
                                            </li>
                                            <li class="sellpart_li">
                                                <div>204.00</div>
                                                <div>32</div>
                                            </li>
                                            <li class="sellpart_li">
                                                <div>204.00</div>
                                                <div>32</div>
                                            </li>
                                            <li class="sellpart_li">
                                                <div>204.00</div>
                                                <div>32</div>
                                            </li>
                                            <li class="sellpart_li">
                                                <div>204.00</div>
                                                <div>32</div>
                                            </li>
                                            <li class="sellpart_li">
                                                <div>204.00</div>
                                                <div>32</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-12 my-4">
                <div class="match_history">
                    <div class="match_history_head">MATCH HISTORY</div>
                    <div class="match_history_subhead">
                        <div>PRICE</div>
                        <div>VOLUME</div>
                        <div>TIME</div>
                    </div>
                    <div class="match_history_body">
                        <ul id="trade-history">
                            <li class="match_history_li">
                                <div>70.55</div>
                                <div>101.001</div>
                                <div>20:12</div>
                            </li>
                            <li class="match_history_li">
                                <div>70.55</div>
                                <div>101.001</div>
                                <div>20:12</div>
                            </li>
                            <li class="match_history_li">
                                <div>70.55</div>
                                <div>101.001</div>
                                <div>20:12</div>
                            </li>
                            <li class="match_history_li">
                                <div>70.55</div>
                                <div>101.001</div>
                                <div>20:12</div>
                            </li>
                            <li class="match_history_li">
                                <div>70.55</div>
                                <div>101.001</div>
                                <div>20:12</div>
                            </li>
                            <li class="match_history_li">
                                <div>70.55</div>
                                <div>101.001</div>
                                <div>20:12</div>
                            </li>
                            <li class="match_history_li">
                                <div>70.55</div>
                                <div>101.001</div>
                                <div>20:12</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-12 my-4">
                <div class="p2p_marketers_div">
                    <div class="p2p_marketers_head">
                        <div class="p2p_marketers_head_select">
                            <select class="custom-select" id="inputGroupSelect01" onchange="javascript:handleSelect(this)">
                               
                                    
                                
                                <!-- <option value="1">USDT/IDR</option>
                                <option value="2">USDT/RUB</option>
                                <option value="3">USDT/UAH</option> -->
                            </select>
                        </div>
                        <div class="p2p_marketers_head_value" id="pair_price">${{p2p_pair_option.0.pair_vol}}</div>
                    </div>
                    <div class="p2p_marketers_body">
                        <div class="p2p_marketers_bdytitle">P2P Markets</div>
                        <div class="p2p_marketers_bdypara">
                            <span>Use WazirX P2P when you want to buy USDT to trade cryptos, or when you want to sell
                                USDT and cash out to INR. It's safe and hassle free!
                            </span>
                        </div>
                        <div class="p2p_marketers_bdysubtile">How it Works</div>
                        <div class="p2p_marketers_bdyimg">
                            <img class="img-fluid" src="/static/authentication/assets/images/how-it-works.svg" alt="">
                        </div>
                        <div class="p2p_marketers_bdylink">
                            <a href="javascript:;">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-12 my-4">
                <div class="xid_order_book_div">
                    <div class="xid_order_book_head">
                        <div class="xid_order_book_headtxt">XID ORDER BOOK(<a href="javascript:;">Read More<i
                                    class="fas fa-external-link-alt"></i></a>)</div>
                        <div class="xid_order_book_headnav">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link custom_navlink active" id="buyrs-tab" data-toggle="tab"
                                        href="#buyrs" role="tab" aria-controls="buyrs" aria-selected="true">BUYERS</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link custom_navlink" id="selers-tab" data-toggle="tab" href="#selers"
                                        role="tab" aria-controls="selers" aria-selected="false">SELLERS</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="xid_order_book_body">
                        <div class="match_history_subhead">
                            <div>PRICE</div>
                            <div>VOLUME</div>
                            <div>TIME</div>
                        </div>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active " id="buyrs" role="tabpanel"
                                aria-labelledby="buyrs-tab">
                                <div class="xid_order_book_bodybuyrspart">
                                    <ul id="show_buyers">
                                        
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade " id="selers" role="tabpanel" aria-labelledby="selers-tab">
                                <div class="xid_order_book_bodyselerspart">
                                    
                                    <ul id="show_sellers">
                                        
                                        
                                        

                                        <!-- <li class="xid_order_book_li">
                                            <div>10.21</div>
                                            <div>500.22</div>
                                            <div>20.31</div>
                                        </li>
                                        <li class="xid_order_book_li">
                                            <div>10.21</div>
                                            <div>500.22</div>
                                            <div>20.31</div>
                                        </li>
                                        <li class="xid_order_book_li">
                                            <div>10.21</div>
                                            <div>500.22</div>
                                            <div>20.31</div>
                                        </li>
                                        <li class="xid_order_book_li">
                                            <div>10.21</div>
                                            <div>500.22</div>
                                            <div>20.31</div>
                                        </li>
                                        <li class="xid_order_book_li">
                                            <div>10.21</div>
                                            <div>500.22</div>
                                            <div>20.31</div>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-12 my-4">
                <div class="vrfy_accnt_div">
                    <div class="vrfy_accnt_div_head">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link custom_navlink active" id="opnOrder-tab" data-toggle="tab"
                                    href="#opnOrder" role="tab" aria-controls="opnOrder" aria-selected="true">OPEN
                                    ORDERS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link custom_navlink" id="cpltOrder-tab" data-toggle="tab"
                                    href="#cpltOrder" role="tab" aria-controls="cpltOrder"
                                    aria-selected="false">COMPLETED ORDERS</a>
                            </li>
                        </ul>
                    </div>
                    <div class="vrfy_accnt_div_body">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="opnOrder" role="tabpanel"
                                aria-labelledby="opnOrder-tab">
                                <div class="vrfy_accnt_div_body_content">
                                    <span>Your account is not verified!</span>
                                    <a href="javascript:;" class="vrfy_accntbtn">Verify Account</a>
                                </div>
                            </div>
                            <div class="tab-pane fade " id="cpltOrder" role="tabpanel" aria-labelledby="cpltOrder-tab">
                                <div class="vrfy_accnt_div_body_content">
                                    <span>Your account is not verified!</span>
                                    <a href="javascript:;" class="vrfy_accntbtn">Verify Account</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-12 my-4">
                <div class="by_div">
                    <div class="by_div_head">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link custom_navlink active" id="by-tab" data-toggle="tab" href="#by"
                                    role="tab" aria-controls="by" aria-selected="true">BUY</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link custom_navlink" id="sel-tab" data-toggle="tab" href="#sel" role="tab"
                                    aria-controls="sel" aria-selected="false">SELL</a>
                            </li>
                        </ul>
                    </div>
                    <div class="by_div_body">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="by" role="tabpanel" aria-labelledby="by-tab">
                                <div class="inputField_div">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon3">
                                                <span>PRICE</span>
                                                <b>INR</b>
                                            </span>
                                        </div>
                                        <input type="text"  class="form-control" id="unit_buy_price_id"
                                            aria-describedby="basic-addon3">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text inptVlm" id="basic-addon3">
                                                <span>VOLUME</span>
                                                <b>USDT</b>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control" id="buy_volume_id"
                                            aria-describedby="basic-addon3">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text inptTtl" id="basic-addon3">
                                                <span>TOTAL</span>
                                                <b>INR</b>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control" id="buy_total_price_id"
                                            aria-describedby="basic-addon3">
                                    </div>
                                </div>
                                <div class="by_divcustm_dropdwn">
                                    <details>
                                        <summary>Add preferred buyer (Optional)</summary>
                                        <div class="hidden_div">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">ENTER XID OF PREFERRED SELLER</label>
                                                <input type="email" class="form-control" id="user_cid_name_id2"
                                                    aria-describedby="emailHelp" placeholder="Eg: cryptotrader">
                                                <small id="emailHelp" class="form-text text-muted"><a
                                                        href="javascript:;">HOW IT WORKS <i
                                                            class="fas fa-external-link-alt"></i></a></small>
                                            </div>
                                            <div class="hidden_div_btmsec">
                                                <div class="hidden_div_btmsec_cont">
                                                    <div>Get your own XID!</div>
                                                    <a href="javascript:;">CREATE NOW</a>
                                                </div>
                                                <ol>
                                                    <li>Create & Share your XID in Crypto groups</li>
                                                    <li>Get matched instantly with sellers</li>
                                                </ol>
                                            </div>
                                        </div>
                                    </details>
                                </div>
                                <input id="buy_p2p_id" onclick="buy_p2p()"  class="by_divBtn bg-danger" type="button" value="BUY">
                                <span class="lst_feetxt">Fee: 0.00%</span>
                            </div>

                            <div class="tab-pane fade " id="sel" role="tabpanel" aria-labelledby="sel-tab">
                                <!-- <div class="sel_body">
                                    <span>PLEASE ADD YOUR PAYMENT DETAILS BEFORE PLACING A SELL ORDER!</span>
                                    <a href="javascript:;">ADD ACCOUNT</a>
                                </div> -->
                                <!-- <div class="tab-pane fade active" id="by" role="tabpanel" aria-labelledby="by-tab"> -->
                               
                                    <div class="inputField_div">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon3">
                                                    <span>PRICE</span>
                                                    <b>INR</b>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" id="unit_sell_price_id"
                                                name="unit_sell_price" aria-describedby="basic-addon3">
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text inptVlm" id="basic-addon3">
                                                    <span>VOLUME</span>
                                                    <b>USDT</b>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" id="sell_volume_id" name="sell_volume"
                                                aria-describedby="basic-addon3">
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text inptTtl" id="basic-addon3">
                                                    <span>TOTAL</span>
                                                    <b>INR</b>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" id="sell_total_price_id"
                                                name="sell_total_price" aria-describedby="basic-addon3">
                                        </div>
                                    </div>
                                    <div class="by_divcustm_dropdwn">
                                        <details>
                                            <summary>Add preferred buyer (Optional)</summary>
                                            <div class="hidden_div">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">ENTER XID OF PREFERRED
                                                        SELLER</label>
                                                    <input type="email" class="form-control" id="user_cid_name_id"
                                                        aria-describedby="emailHelp" name="user_cid_name"
                                                        placeholder="Eg: cryptotrader">
                                                    <small id="emailHelp" class="form-text text-muted"><a
                                                            href="javascript:;">HOW IT WORKS <svg
                                                                class="svg-inline--fa fa-external-link-alt fa-w-16"
                                                                aria-hidden="true" focusable="false" data-prefix="fas"
                                                                data-icon="external-link-alt" role="img"
                                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                                data-fa-i2svg="">
                                                                <path fill="currentColor"
                                                                    d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z">
                                                                </path>
                                                            </svg>
                                                            <!-- <i class="fas fa-external-link-alt"></i> Font Awesome fontawesome.com --></a></small>
                                                </div>
                                                <div class="hidden_div_btmsec">
                                                    <div class="hidden_div_btmsec_cont">
                                                        <div>Get your own XID!</div>
                                                        <a href="javascript:;">CREATE NOW</a>
                                                    </div>
                                                    <ol>
                                                        <li>Create &amp; Share your XID in Crypto groups</li>
                                                        <li>Get matched instantly with sellers</li>
                                                    </ol>
                                                </div>
                                            </div>
                                        </details>
                                    </div>
                                    <input id="sell_p2p_id" onclick="sell_p2p()"  class="by_divBtn bg-danger" type="button" value="SELL">
                                
                                <span class="lst_feetxt">Fee: 0.00%</span>
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function handleSelect(elm)
        {
          // console.log(elm.value);
          window.location = elm.value;
        }
      </script>

<script>
    var val = 0;
    function sell_p2p(){
        val = 1;
    }

    var val2 = 10;
    function buy_p2p(){
        val2 = 11;
    }
</script>

<script>

// console.log('sdfdsfdsf');
var socket = new WebSocket('ws://'+ window.location.host + '/ws/p2p/{{pair_show}}')
// console.log(socket);

socket.onopen =  (function(e){
    console.log('connected on frontend');
    socket.send(JSON.stringify({'msg' : 'hello from frontend'}))
});

socket.onmessage = function(e){

    show_sellers = "";
    show_buyers = "";
    all_data = JSON.parse(e.data);

    if(all_data['msg'] == "bought"){
        console.log(all_data, 'data after bought');
        show_buyers += '<li class="xid_order_book_li"> <div>'+ all_data['unit_buy_price']+'</div> <div>'+ all_data['buy_volume'] +'</div> <div>'+  all_data['current_user'] +'</div> </li>'
        // socket.send(JSON.stringify({'msg': 'send_next_coin'}));
        console.log(show_buyers, 'sdfhsuadhfuosduofh');
        document.getElementById('show_buyers').innerHTML += show_buyers;
    }
    else if(all_data['msg'] == "sold"){
        console.log(all_data, 'data after sell');
        show_sellers += '<li class="xid_order_book_li"> <div>'+ all_data['unit_sell_price']+'</div> <div>'+ all_data['sell_volume'] +'</div> <div>'+  all_data['current_user'] +'</div> </li>'
        // socket.send(JSON.stringify({'msg': 'send_next_coin'}));
        console.log(show_sellers, 'sdfhsuadhfuosduofh');
        document.getElementById('show_sellers').innerHTML += show_sellers;
    }

    else{
        // console.log('hello');
    // console.log(all_data);
    single_pair = JSON.parse(all_data['single_pair'])[0]['fields']['pair_vol'];
    // console.log(single_pair, 'single pair is here');

    document.getElementById('pair_price').innerHTML = single_pair;

    fetched_pairs = JSON.parse(all_data['fetched_pairs']);
    let option = ''
    for(i in fetched_pairs){
        // console.log(fetched_pairs[i]['fields']['pair_name']);
        if(fetched_pairs[i]['fields']['pair_name'] == "{{pair_show}}"){
            select = "selected";
        }
        else{
            select = "";
        }
        option  += '<option '+ select +' value="/p2p/'+ fetched_pairs[i]['fields']['pair_name'] +'">'+ fetched_pairs[i]['fields']['pair_name'] +'</option>';
        // console.log(option);
    }

    // console.log(option);
   
    if(val == 1){
        let current_user = "{{request.user}}";
        let unit_sell_price = document.getElementById('unit_sell_price_id').value;
        let sell_volume = document.getElementById('sell_volume_id').value;
        let sell_total_price = document.getElementById('sell_total_price_id').value;
        let user_cid_name = document.getElementById('user_cid_name_id').value;
        console.log(current_user, unit_sell_price, sell_volume, sell_total_price, user_cid_name);
        val = 0;
        socket.send(JSON.stringify({'msg': 'sell',  'current_user' : current_user, 'unit_sell_price' : unit_sell_price, 'sell_volume' : sell_volume, 'sell_total_price' : sell_total_price, 'user_cid_name' : user_cid_name}));
    }
    if(val2 == 11){
        let current_user = "{{request.user}}";
        let unit_buy_price = document.getElementById('unit_buy_price_id').value;
        let buy_volume = document.getElementById('buy_volume_id').value;
        let buy_total_price = document.getElementById('buy_total_price_id').value;
        let user_cid_name2 = document.getElementById('user_cid_name_id2').value;
        console.log(current_user, unit_buy_price, buy_volume, buy_total_price, user_cid_name2);
        val2 = 10;
        socket.send(JSON.stringify({'msg': 'buy',  'current_user' : current_user, 'unit_buy_price' : unit_buy_price, 'buy_volume' : buy_volume, 'buy_total_price' : buy_total_price, 'user_cid_name2' : user_cid_name2}));
    }
    document.getElementById('inputGroupSelect01').innerHTML = option;


    socket.send(JSON.stringify({'msg': 'send_next_coin'}));
    }
    // console.log(fetched_pairs,'msg recieved');
};



socket.onclose =  (function(e){
    console.log('disconnected');
});

</script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
    trade_history();
    function trade_history() {
      $.ajax({
        url: "https://api.binance.com/api/v3/trades?symbol=BTCUSDT&limit=10",
        type: "GET",
        dataType: "json",
        success: function (event) {
          t_history = "";
          prev = 0;
          for (let i = 0; i <7; i++) {
            let tt = event[i]['time'];
            let t_time = new Date(tt).toTimeString("en-US").slice(0, 8);
            prev = event[i]['price'];
            if (parseInt(event[i + 1]['price']) > parseInt(prev)) {
              price_color = "danger";
            }
            else {
              price_color = "success";
            };
            // console.log(parseInt(event[0]['price'])); 
            // document.getElementsByClassName("buy-input")[0].value = parseFloat(event[0]['price']);
            // document.getElementsByClassName("buy-input")[1].value = parseFloat(event[0]['price']);
            let num1 = new Number(event[i]['price']);
           
            t_history += '<li class="sellpart_li bg-' + price_color + '"><div class="text-white' + ' bg-' + price_color + ' font-weight-bold">'+ num1.toFixed(1) +'</div><div class="text-white bg-' + price_color + '">' + event[i]['qty'] + '</div><div  class="text-white bg-' + price_color + '">' + t_time + '</div></li>';
            
            // t_history += '<tr class="bg-' + price_color + '" ><td class="text-white' + ' bg-' + price_color + ' font-weight-bold">' + num1.toFixed(3) + '</td><td class="text-white bg-' + price_color + '">' + event[i]['qty'] + '</td><td class="text-white bg-' + price_color + '">' + t_time + '</td></tr>';
          }
          document.getElementById('trade-history').innerHTML = t_history;
        }
      });
    };

    market_depth();
    function market_depth() {
    // var pair= 
    $.ajax({
      url: "https://api.binance.com/api/v3/depth?symbol=BTCUSDT",
      dataType: "json",
      type: "GET",
      success: function (event) {
        bids = "";
        bids2 = "";
        
        for (let i = 0; i <= 5; i++) {
          let num1 = new Number(event['bids'][i][0]);
          let num2 = new Number(event['asks'][i][0]);

          bids += '<li class="buypart_li"><div class="text-success ">' + event['bids'][i][1] + '</div> <div class="text-success font-weight-bold">' + num1.toFixed(3) + '</div> </li>'
          bids2 += '<li class="buypart_li"><div class="text-danger font-weight-bold ">' + num2.toFixed(3) + '</div> <div class="text-danger">' + event['asks'][i][1] + '</div> </li>'

          //   bids += '<tr><td class="exchange_MarketDepthTD_style text-success ">' + event['bids'][i][1] + '</td><td class="exchange_MarketDepthTD_style text-success font-weight-bold">' + num1.toFixed(3) + '</td><td class="exchange_MarketDepthTD_style text-danger font-weight-bold">' + num2.toFixed(3) + '</td><td class="exchange_MarketDepthTD_style text-danger">' + event['asks'][i][1] + '</td></tr>';
        }
        document.getElementById('bids').innerHTML = bids;
        document.getElementById('bids2').innerHTML = bids2;

      }
    });
  };

    setInterval(function () {
    trade_history();
    market_depth();
  }, 4000);
  </script>

    {% endblock p2p_login %}
