<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <!-- animation css -->
  <link rel="stylesheet" href="assets/css/aos.css">
  <!-- fontawesome css -->
  <link rel="stylesheet" href="assets/css/all.css">
  <!-- owl carousel css-->
  <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
  <!-- custom style css -->
  <link rel="stylesheet" href="assets/css/style.css">
  <title>Cryptolinkx</title>

</head>

<body style="background-color: rgb(236, 239, 241);">

  <!-- login form start here -->

  <section class="loginForm_section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-12">
          <div class="loginForm_div_style">
            <a class="pt-0 logo_aTag_style" href="index.html">
              <img src="assets/images/logo.png" class="img-fluid login_logo_style" alt="Cryptolinkx">
            </a>
            <!-- <h3 class="lgn_heading">Check your inbox for a verification mail</h3>
            <hr /> -->


            <!-- <div class="row justify-content-center mt-0">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center p-0 mb-2">
                <div class="card px-0 pb-0 mb-3">
                  <div class="row">
                    <div class="col-md-12 mx-0">
                      <form id="msform">
                        
                        <ul id="progressbar">
                          <li class="active" id="account"><strong>EMAIL</strong></li>
                          <li id="personal"><strong>SECURITY</strong></li>
                          <li id="payment"><strong>WELCOME</strong></li>
                        </ul> 
                       
                        <fieldset>
                          <div>
                            <h5 class="fs-title">Check your inbox for a verification mail</h5>
                            <hr />
                            <p>An email has been sent to</p>
                            <p><b>demo@gmail.com</b> Don’t see it? Check your spam folders.</p>
                            <br>
                            <p>If the email address is wrong, <a href="#">restart the registration process.</a></p>
                            <p>If you have not received the mail you can <a href="#">resend here.</a></p>
                          </div> <input type="button" name="next" class="next action-button" value="Next Step" />
                        </fieldset>
                        <fieldset>
                          <div>
                            <h5 class="fs-title">Security</h5>
                            <div class="row">
                              <div class="col-md-8">
                                <h5>Authenticator App</h5>
                                <p>Recommended</p>
                              </div>
                              <div class="col-md-4">
                                <form>
                                  <input type="radio" id="male" name="gender" value="male" />
                                </form>
                              </div>
                            </div>
                          </div>
                          <input type="button" name="previous" class="previous action-button-previous"
                            value="Previous" /> <input type="button" name="next" class="next action-button"
                            value="Next Step" />
                        </fieldset>

                        <fieldset>
                          <div>
                            <h5 class="fs-title">Select Your Country</h5>


                          </div>
                          <input type="button" name="previous" class="previous action-button-previous"
                            value="Previous" /> <input type="button" name="make_payment" class="next action-button"
                            value="Confirm" />
                        </fieldset>

                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->

            <!-- <div class="container-fluid" id="grad1"> -->
            <div class="row justify-content-center mt-0">
              <div class="col-11 col-sm-12 col-md-12 col-lg-12 text-center p-0 mt-3 mb-2">
                <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                  <h2><strong>Sign Up Your User Account</strong></h2>
                  <p>Fill all form field to go to next step</p>
                  <div class="row">
                    <div class="col-md-12 mx-0">
                      <form id="msform">
                        <!-- progressbar -->
                        <ul id="progressbar">
                          <li class="active" id="account"><strong>EMAIL</strong></li>
                          <li id="personal"><strong>SECURITY</strong></li>
                          <li id="payment"><strong>WELCOME</strong></li>
                        </ul> <!-- fieldsets -->
                        <fieldset>
                          <div>
                            <h5 class="fs-title">Check your inbox for a verification mail</h5>
                            <hr />
                            <p>An email has been sent to</p>
                            <p><b>demo@gmail.com</b> Don’t see it? Check your spam folders.</p>
                            <br>
                            <p>If the email address is wrong, <a href="#">restart the registration process.</a></p>
                            <p>If you have not received the mail you can <a href="#">resend here.</a></p>
                          </div> <input type="button" name="next" class="next action-button" value="Next Step" />
                        </fieldset>
                        <fieldset>
                          <div>
                            <h5 class="fs-title">Security</h5>
                            <div class="row Security_row_style">

                              <div class="col-md-10">
                                <div class="d-flex">
                                  <h5 class="text-left mb-0">Authenticator App</h5>
                                  <p class="ml-3 Security_pTag_style mb-0">Recommended</p>
                                </div>
                                <p class="text-left">Highly Secure</p>
                              </div>
                              <div class="col-md-2">
                                <div class="Security_input_style">

                                  <input type="radio" id="myBtn" name="Secure" value="Authenticator" />

                                  <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="Modal_button"> Open modal </button> -->
                                </div>
                              </div>

                            </div>

                            <div class="row Security_row_style mt-3">

                              <div class="col-md-10">
                                <div class="d-flex">
                                  <h5 class="text-left mb-0">Mobile SMS</h5>
                                </div>
                                <p class="text-left">Moderately Secure</p>
                              </div>
                              <div class="col-md-2">
                                <div class="Security_input_style">
                                  <input type="radio" id="myBtn" name="Secure" value="Mobile SMS" />
                                </div>
                              </div>

                            </div>

                            <div class="row Security_row_style mt-3">

                              <div class="col-md-10">
                                <div class="d-flex">
                                  <h5 class="text-left mb-0">None</h5>
                                </div>
                                <p class="text-left">Not Secure</p>
                              </div>
                              <div class="col-md-2">
                                <div class="Security_input_style">
                                  <input type="radio" id="myBtn" name="Secure" value="None" />
                                </div>
                              </div>

                            </div>
                          </div>
                          <input type="button" name="previous" class="previous action-button-previous"
                            value="Previous" /> <input type="button" name="next" class="next action-button"
                            value="Next Step" />
                        </fieldset>
                        <fieldset>
                          <div>
                            <h5 class="fs-title">Select Your Country</h5>
                            <div class="text-left">
                              <label class="">Country</label><br />
                              <select class="Country_select_style" name="country" id="countryName">
                                <option value="IND">IND</option>
                                <option value="IND">IND</option>
                                <option value="SL">SL</option>
                                <option value="NZ">NZ</option>
                              </select>
                            </div>

                            <div class="text-left mt-3 mb-4">
                              <label class="">Type of KYC</label><br />
                              <select class="Country_select_style" name="KYC" id="TypeKYC">
                                <option value="One">One</option>
                                <option value="Two">Two</option>
                                <option value="Three">Three</option>
                                <option value="Four">Four</option>
                              </select>
                            </div>

                            <div class="row">

                              <div class="col-md-6">
                                <h3>Without KYC</h3>
                                <div class="d-flex">
                                  <div class="row w-100">
                                    <div class="col-md-3">
                                      <input class="mb-0" type="checkbox" checked id="vehicle1" name="vehicle1"
                                        value="Bike">
                                    </div>
                                    <div class="col-md-9">
                                      <label for="vehicle1">Deposit</label><br>
                                    </div>
                                  </div>

                                </div>

                                <div class="d-flex">
                                  <div class="row w-100">
                                    <div class="col-md-3">
                                      <input class="mb-0" type="checkbox" checked id="vehicle1" name="vehicle1"
                                        value="Bike">
                                    </div>
                                    <div class="col-md-9">
                                      <label for="vehicle1">Trade</label><br>
                                    </div>
                                  </div>

                                </div>

                                <div class="d-flex">
                                  <div class="row w-100">
                                    <div class="col-md-3">
                                      <input class="mb-0" type="checkbox" checked id="vehicle1" name="vehicle1"
                                        value="Bike">
                                    </div>
                                    <div class="col-md-9">
                                      <label for="vehicle1"> Withdradal</label><br>
                                    </div>
                                  </div>

                                </div>
                                <div class="d-flex">
                                  <div class="row w-100">
                                    <div class="col-md-3">
                                      <input class="mb-0" type="checkbox" checked id="vehicle1" name="vehicle1"
                                        value="Bike">
                                    </div>
                                    <div class="col-md-9">
                                      <label for="vehicle1">P2P</label><br>
                                    </div>
                                  </div>

                                </div>

                              </div>

                              <div class="col-md-6">
                                <h3>With KYC</h3>
                                <div class="d-flex">
                                  <div class="row w-100">
                                    <div class="col-md-3">
                                      <input class="mb-0" type="checkbox" checked id="vehicle1" name="vehicle1"
                                        value="Bike">
                                    </div>
                                    <div class="col-md-9">
                                      <label for="vehicle1">Deposit</label><br>
                                    </div>
                                  </div>

                                </div>

                                <div class="d-flex">
                                  <div class="row w-100">
                                    <div class="col-md-3">
                                      <input class="mb-0" type="checkbox" checked id="vehicle1" name="vehicle1"
                                        value="Bike">
                                    </div>
                                    <div class="col-md-9">
                                      <label for="vehicle1">Trade</label><br>
                                    </div>
                                  </div>

                                </div>

                                <div class="d-flex">
                                  <div class="row w-100">
                                    <div class="col-md-3">
                                      <input class="mb-0" type="checkbox" checked id="vehicle1" name="vehicle1"
                                        value="Bike">
                                    </div>
                                    <div class="col-md-9">
                                      <label for="vehicle1"> Withdradal</label><br>
                                    </div>
                                  </div>

                                </div>
                                <div class="d-flex">
                                  <div class="row w-100">
                                    <div class="col-md-3">
                                      <input class="mb-0" type="checkbox" checked id="vehicle1" name="vehicle1"
                                        value="Bike">
                                    </div>
                                    <div class="col-md-9">
                                      <label for="vehicle1">P2P</label><br>
                                    </div>
                                  </div>

                                </div>

                              </div>
                            </div>
                          </div>
                          <input type="button" name="previous" class="previous action-button-previous"
                            value="Previous" />
                          <input type="button" name="make_payment" class="next action-button" href="forgotPassword.html"
                            onclick="window.location.href = 'file:///E:/laxit/cryptolinkX/exchange.html';"
                            value="Done" />
                        </fieldset>
                        <fieldset>
                          <div>
                            <h2 class="fs-title text-center">Success !</h2> <br><br>
                            <div class="row justify-content-center">
                              <div class="col-3"> <img src="https://img.icons8.com/color/96/000000/ok--v2.png"
                                  class="fit-image"> </div>
                            </div> <br><br>
                            <div class="row justify-content-center">
                              <div class="col-7 text-center">
                                <h5>You Have Successfully Signed Up</h5>
                              </div>
                            </div>
                          </div>
                        </fieldset>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- </div> -->
            <hr />

            <!-- modal start-->
            <div id="myModal" class="modal">

              <!-- Modal content -->
              <div class="modal-content">
                <div class="row">
                  <div class="col-md-10">
                    <p><b>2FA Setup</b></p>
                  </div>

                  <div class="col-md-2">
                    <span class="close">&times;</span>
                  </div>
                </div>
                <hr />

                <h5 class="text-center">Register Your Mobile</h5>

                <div class="mt-5">
                  <label>Mobile Number</label><br />
                  <input class="w-100 p-1" id="phone" type="tel" />

                </div>
                <button type="button" class="btn btn-primary login_btn_style w-100 mt-3 close" data-toggle="modal"
                  data-target="#sendotp">Send OTP</button>
              </div>
            </div>

            <!-- modal verify OTP-->
            <div id="sendotp" class="modal">

              <!-- Modal content -->
              <div class="modal-content">
                <div class="row">
                  <div class="col-md-10">
                    <p><b>2FA Setup</b></p>
                  </div>

                  <div class="col-md-2">
                    <span class="close">&times;</span>
                  </div>
                </div>
                <hr />

                <h5 class="text-center">Verify Your Mobile</h5>

                <div class="mt-5">
                  <label>Enter OTP</label><br />
                  <input class="w-100 p-1" id="phone" type="tel" />

                </div>
                <button type="button" class="btn btn-primary w-100 mt-3" data-toggle="modal"
                  data-target="#dd">Verify</button>
              </div>
            </div>

            <div id="dd" class="modal" style="z-index: 9999;">

              <!-- Modal content -->
              <div class="modal-content">
                <div class="row">
                  <div class="col-md-10">
                    <p><b>2FA Setup</b></p>
                  </div>

                  <div class="col-md-2">
                    <span class="close">&times;</span>
                  </div>
                </div>
                <hr />

                <div>
                  <h5 class="fs-title text-center">Security Settings updates !</h5> <br><br>
                  <div class="row justify-content-center">
                    <div class="col-3"> <img src="https://img.icons8.com/color/96/000000/ok--v2.png" class="fit-image">
                    </div>
                  </div> <br><br>
                  <div class="row justify-content-center">
                    <div class="col-7 text-center">
                      <h5>You 2FA is Set to Mobile</h5>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-primary login_btn_style w-100 mt-3">OK</button>
              </div>
            </div>

            <!-- modal end-->

          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- login form end here -->

  <!-- steps script start -->

  <!-- <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'> -->
  <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script>
    $(document).ready(function () {

      var current_fs, next_fs, previous_fs; //fieldsets
      var opacity;

      $(".next").click(function () {

        current_fs = $(this).parent();
        next_fs = $(this).parent().next();

        //Add Class Active
        $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

        //show the next fieldset
        next_fs.show();
        //hide the current fieldset with style
        current_fs.animate({ opacity: 0 }, {
          step: function (now) {
            // for making fielset appear animation
            opacity = 1 - now;

            current_fs.css({
              'display': 'none',
              'position': 'relative'
            });
            next_fs.css({ 'opacity': opacity });
          },
          duration: 600
        });
      });

      $(".previous").click(function () {

        current_fs = $(this).parent();
        previous_fs = $(this).parent().prev();

        //Remove class active
        $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

        //show the previous fieldset
        previous_fs.show();

        //hide the current fieldset with style
        current_fs.animate({ opacity: 0 }, {
          step: function (now) {
            // for making fielset appear animation
            opacity = 1 - now;

            current_fs.css({
              'display': 'none',
              'position': 'relative'
            });
            previous_fs.css({ 'opacity': opacity });
          },
          duration: 600
        });
      });

      $('.radio-group .radio').click(function () {
        $(this).parent().find('.radio').removeClass('selected');
        $(this).addClass('selected');
      });

      $(".submit").click(function () {
        return false;
      })

    });

  </script>

  <!-- steps script end -->

  <!-- modal script start-->
  <script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    btn.onclick = function () {
      modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>



  <!-- modal script end -->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!-- <script src="assets/js/jquery-3.2.1.slim.min.js"></script> -->
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <!-- animation js -->
  <script src="assets/js/all.js"></script>
  <script src="assets/js/aos.js"></script>
  <!-- owl carousel js-->
  <script src="assets/js/owl.carousel.min.js"></script>
  <!-- Custom script js -->
  <script src="assets/js/script.js"></script>
</body>

</html>